.skeletons-animation-enter {
    opacity: 0;
}

.skeletons-animation-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}

.skeletons-animation-exit {
    opacity: 1;
}

.skeletons-animation-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}

.films-animation-enter {
    opacity: 0;
}

.films-animation-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}

.films-animation-exit {
    opacity: 1;
}

.films-animation-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}
