.size_s {
    font: var(--font-s);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.normal {
    color: var(--primary-color);
}

.error {
    color: var(--red-light-color);
}
