.link {
    font-weight: 600;
    color: var(--primary-color);
    margin-right: 25px;
    transition: opacity 0.2s;
    text-decoration: none;
}

.link:hover {
    opacity: 1;
}

.active {
    opacity: 1;
    padding-bottom: 7px;
    border-bottom: solid var(--additional-color);
    border-radius: 2px;
}

.normal {
    opacity: 0.6;
}
