.logoTitle {
    color: rgb(255 255 255);
    font-weight: bold;
    margin-bottom: 6px;
}

.logoText {
    color: var(--secondary-color);
    font-weight: 600;
    margin-bottom: 30px;
}

.MainPage {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 70px;
}
